.header > img{
    height: 150px;
    padding: 20px;
}

.contenedor .cartas > button > img{
    width: 150px;
    height: 200px;
}

.tabla{
    width: 100%;
}

table,th,td{
    border: 1px solid darkcyan;
}

.derecha .regcartas > form{
    width: 50%;
    border: 1px solid darkcyan;
    padding: 20px;
}

.derecha .regcartas > form > .campotext{
    width: 100%;
}